# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/wp/db/
/wp/wp-data/
/wp/certs/
/wp/theme/static/assets/index.php-129f8394.js
/wp/theme/static/assets/index.php-181d8652.css
/wp/theme/static/assets/InterTight-Black-932b5d73.ttf
/wp/theme/static/assets/InterTight-BlackItalic-876692e5.ttf
/wp/theme/static/assets/InterTight-Bold-2cf9d8cb.ttf
/wp/theme/static/assets/InterTight-BoldItalic-e5c201c5.ttf
/wp/theme/static/assets/InterTight-ExtraBold-0ec04fbc.ttf
/wp/theme/static/assets/InterTight-ExtraBoldItalic-912e40ab.ttf
/wp/theme/static/assets/InterTight-ExtraLight-f25135fc.ttf
/wp/theme/static/assets/InterTight-ExtraLightItalic-afb85982.ttf
/wp/theme/static/assets/InterTight-Italic-b73cd34e.ttf
/wp/theme/static/assets/InterTight-Light-65b8287e.ttf
/wp/theme/static/assets/InterTight-LightItalic-972567db.ttf
/wp/theme/static/assets/InterTight-Medium-fdad824e.ttf
/wp/theme/static/assets/InterTight-MediumItalic-3829315b.ttf
/wp/theme/static/assets/InterTight-Regular-ad32032a.ttf
/wp/theme/static/assets/InterTight-SemiBold-b0d896af.ttf
/wp/theme/static/assets/InterTight-SemiBoldItalic-41190c0a.ttf
/wp/theme/static/assets/InterTight-Thin-59c566c6.ttf
/wp/theme/static/assets/InterTight-ThinItalic-723988ba.ttf
/wp/theme/static/fonts/InterTight/InterTight-Black.ttf
/wp/theme/static/fonts/InterTight/InterTight-BlackItalic.ttf
/wp/theme/static/fonts/InterTight/InterTight-Bold.ttf
/wp/theme/static/fonts/InterTight/InterTight-BoldItalic.ttf
/wp/theme/static/fonts/InterTight/InterTight-ExtraBold.ttf
/wp/theme/static/fonts/InterTight/InterTight-ExtraBoldItalic.ttf
/wp/theme/static/fonts/InterTight/InterTight-ExtraLight.ttf
/wp/theme/static/fonts/InterTight/InterTight-ExtraLightItalic.ttf
/wp/theme/static/fonts/InterTight/InterTight-Italic.ttf
/wp/theme/static/fonts/InterTight/InterTight-Light.ttf
/wp/theme/static/fonts/InterTight/InterTight-LightItalic.ttf
/wp/theme/static/fonts/InterTight/InterTight-Medium.ttf
/wp/theme/static/fonts/InterTight/InterTight-MediumItalic.ttf
/wp/theme/static/fonts/InterTight/InterTight-Regular.ttf
/wp/theme/static/fonts/InterTight/InterTight-SemiBold.ttf
/wp/theme/static/fonts/InterTight/InterTight-SemiBoldItalic.ttf
/wp/theme/static/fonts/InterTight/InterTight-Thin.ttf
/wp/theme/static/fonts/InterTight/InterTight-ThinItalic.ttf
/wp/theme/static/images/about-drawing-rocket.svg
/wp/theme/static/images/artists_example.png
/wp/theme/static/images/best_choice.svg
/wp/theme/static/images/boat.svg
/wp/theme/static/images/favicon.png
/wp/theme/static/images/gallery-event.jpg
/wp/theme/static/images/gallery-info-image.png
/wp/theme/static/images/gallery_example.jpg
/wp/theme/static/images/hero-about-cover.png
/wp/theme/static/images/hero-side-example.png
/wp/theme/static/images/illustration-form.svg
/wp/theme/static/images/illustration-world.svg
/wp/theme/static/images/image-gallery-about.png
/wp/theme/static/images/logo.svg
/wp/theme/static/images/payment-success.svg
/wp/theme/static/images/promo-big-example.jpg
/wp/theme/static/images/santander_logo_1.svg
/wp/theme/static/images/vite.svg
/wp/artpay_theme.zip
/local_certs/
/wp/
