@import "_interTight.scss";

#root {
}

body {
  background: var(--background, none);
}

:root {
  --mui-palette-primary-main: #3e4eec;
  --mui-palette-secondary-main: #5366eb;
  --mui-palette-text-secondary: #666f7a;
}


.SwiperCard, .swiper-slide.SwiperCard {
  &-small{
    width: 180px;
    min-width: 180px;
  }
  &-medium{
    width: 230px;
    min-width: 230px;
  }
  &-large{
    width: 320px;
    min-width: 320px;
  }
}

.borderRadius {
  border-radius: 5px;
}

.promoSmall {
  position: relative;
  &-contrast {
    p, div {
      z-index: 1;
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: ' ';
      background: rgba(0,0,0,0.5);
      height: 100%;
      width: 100%;
    }
    &:hover {
      &:after {
        content: ' ';
        background: rgba(0,0,0,0.6);
      }
    }
  }
  &-standard{
    &:hover {
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        background: rgba(255,255,255,0.2);
        height: 100%;
        width: 100%;
      }
    }
  }
}

.swiper {
  .swiper-pagination{
    text-align: left;
    //--swiper-pagination-bullet-inactive-color: rgba(255,255,255,0.8)
    --swiper-pagination-color: #FFF;
    --swiper-pagination-bottom: 0;
  }
}