@import "_interTight.scss";
@import "_inter.scss";
@import "typography";


#root {
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background, none);
}

:root {
  --mui-palette-primary-main: #3e4eec;
  --mui-palette-secondary-main: #5366eb;
  --mui-palette-text-secondary: #666f7a;
}


/*.SwiperCard, .swiper-slide.SwiperCard {
  &-small{
    width: 180px;
    min-width: 180px;
  }
  &-medium{
    width: 294px;
    min-width: 294px;
  }
  &-large{
    width: 320px;
    min-width: 320px;
  }
  &-fit{
    width: 100%;
  }
}*/

.borderRadius {
  border-radius: 5px;
}

.promoSmall {
  position: relative;
  &-contrast {
    p, div {
      z-index: 1;
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: ' ';
      background: rgba(0,0,0,0.5);
      height: 100%;
      width: 100%;
    }
    &:hover {
      &:after {
        content: ' ';
        background: rgba(0,0,0,0.6);
      }
    }
  }
  &-standard{
    &:hover {
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        background: rgba(255,255,255,0.2);
        height: 100%;
        width: 100%;
      }
    }
  }
}

.heroSwiper {
  .swiper-pagination-horizontal{
    text-align: left;
    //--swiper-pagination-bullet-inactive-color: rgba(255,255,255,0.8)
    --swiper-pagination-color: #FFF;
    --swiper-pagination-bottom: 0;
  }
}
.verticalResponsiveSwiper{

  &:not(.mobile) {
    .swiper-pagination-horizontal{
      --swiper-pagination-top: 0;
      --swiper-pagination-bottom: unset;
    }
  }
  &.mobile{
    .swiper-pagination-horizontal{
      --swiper-pagination-top: unset!important;
      --swiper-pagination-bottom: 16px;
    }
  }
}
.swiper {
  .swiper-pagination{
    --swiper-pagination-color: #FFF;
  }
  &.swiper-initialized{
    margin-left: 0;
  }
  .swiper-pagination-vertical{
    --swiper-pagination-right: 24px
  }
}

.styled-page {
  @include typography();
  font-family: $typography-font-family;
  img {
    max-width: 100%;
    height: auto;
    &::before{
      display: none;
    }
  }
  figure{
    figcaption{
      display: none;
    }
  }
  // Additional styling for .styled-page if needed
}
p {
  p {
    margin:0
  }
}

.emptyBoxMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
  color: #666f7a;
}