@import "tailwindcss";

@theme {
    --color-primary-dark: #181F5D;
    --color-primary: #3E4EEC;
    --color-primary-hover: #313dd1;
    --color-secondary: #666F7A;
    --color-tertiary: #010F22;

    --color-klarna: #feb4c7;
    --color-klarna-hover: #fda4af;


    --text-4xl: 2.5rem;
    --text-4xl--line-height: 105%;

    --shadow-custom: rgba(62, 78, 236, 0.15) 0px 4px 16px 0px;

    --shadow-custom-top: #3E4EEC26 0px -5px 16px 0px;

    --animate-fade-in-scale: fade-in-scale 2500ms ease-out forwards;

    @keyframes fade-in-scale {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }
        20% {
            opacity: 1;
            transform: scale(1);
        }
        40% {
            opacity: 1;
            transform: scale(1);
        }
        60% {
            opacity: 1;
            transform: scale(1);
        }
        80% {
            opacity: 1;
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(1);
        }
    }

    --animate-fade-in: fade-in 150ms linear forwards;

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }

    }




}

.artpay-button-style {
    @apply disabled:cursor-not-allowed w-full max-w-md rounded-[28px] py-3.5 px-5 flex items-center justify-center gap-2 cursor-pointer transition-all;
}

html {
    scroll-behavior: smooth;
}


.custom-navbar {
    box-shadow: rgba(62, 78, 236, 0.15) 0px 4px 16px 0px;
    border-radius: 36px;
}

.SwiperCard,
.swiper-slide.SwiperCard {
}

.SwiperCard-small, .swiper-slide.SwiperCard-small {
    width: 180px;
    min-width: 180px;
}

.SwiperCard-medium, .swiper-slide.SwiperCard-medium {
    width: 294px;
    min-width: 294px;
}

.SwiperCard-large, .swiper-slide.SwiperCard-large {
    width: 320px;
    min-width: 320px;
}

.SwiperCard-fit, .swiper-slide.SwiperCard-fit {
    width: 100%;
}

/*
body {
    background: var(--background, none);
}

:root {
    --mui-palette-primary-main: #3e4eec;
    --mui-palette-secondary-main: #5366eb;
    --mui-palette-text-secondary: #666f7a;
}

!* Swiper Card *!
.SwiperCard,
.swiper-slide.SwiperCard {
}

.SwiperCard-small, .swiper-slide.SwiperCard-small {
    width: 180px;
    min-width: 180px;
}

.SwiperCard-medium, .swiper-slide.SwiperCard-medium {
    width: 294px;
    min-width: 294px;
}

.SwiperCard-large, .swiper-slide.SwiperCard-large {
    width: 320px;
    min-width: 320px;
}

.SwiperCard-fit, .swiper-slide.SwiperCard-fit {
    width: 100%;
}

!* Border Radius *!
.borderRadius {
    border-radius: 5px;
}

!* Promo Small *!
.promoSmall {
    position: relative;
}

.promoSmall-contrast p,
.promoSmall-contrast div {
    z-index: 1;
}

.promoSmall-contrast::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.promoSmall-contrast:hover::after {
    background: rgba(0, 0, 0, 0.6);
}

.promoSmall-standard:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: rgba(255, 255, 255, 0.2);
    height: 100%;
    width: 100%;
}

!* Hero Swiper *!
.heroSwiper .swiper-pagination-horizontal {
    text-align: left;
    --swiper-pagination-color: #FFF;
    --swiper-pagination-bottom: 0;
}

!* Vertical Responsive Swiper *!
.verticalResponsiveSwiper:not(.mobile) .swiper-pagination-horizontal {
    --swiper-pagination-top: 0;
    --swiper-pagination-bottom: unset;
}

.verticalResponsiveSwiper.mobile .swiper-pagination-horizontal {
    --swiper-pagination-top: unset !important;
    --swiper-pagination-bottom: 16px;
}

!* Swiper *!
.swiper .swiper-pagination {
    --swiper-pagination-color: #FFF;
}

.swiper.swiper-initialized {
    margin-left: 0;
}

.swiper .swiper-pagination-vertical {
    --swiper-pagination-right: 24px;
}


.styled-page img {
    max-width: 100%;
    height: auto;
}

.styled-page img::before {
    display: none;
}

.styled-page figure figcaption {
    display: none;
}

!* Paragraph Fix *!
p p {
    margin: 0;
}

!* Empty Box Messages *!
.emptyBoxMessages {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    color: #666f7a;
}
*/